@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

html {
  background: #333333;
}

body {
  margin: 0;
  background: #333333;
  color: #ffffff;
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}
/* 로그인 / 회원가입 자동완성 스타일 */
.auth-input:-webkit-autofill,
.auth-input:-webkit-autofill:hover,
.auth-input:-webkit-autofill:focus,
.auth-input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff !important;

  -webkit-box-shadow: 0 0 0 1000px #585353 inset !important;
  box-shadow: 0 0 0 1000px #585353 inset !important;

  caret-color: #ffffff;

  transition: background-color 9999s ease-out 0s;
}
